<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>
    	Jet2 Modal
    </title>

    <link rel="stylesheet" href="../css/modal.css">
  </head>

  <body>

    <div class="submit-div">

      <span class="submit-div__inception">
        <label for="submit-div__inception__button">Submit to open modal:</label>
        <button name="submit-div__inception__button" class="submit-div__inception__button">Submit</button>
      </span>

    </div>



    <div class="modal">

      <div class="modal__body">
        <div class="modal__body__title-div">                    
          <span class="modal__body__tick">&#10004;</span>
          <h2 class="modal__body__title">Congratulations your jet2 holiday booking has been confirmed</h2>
        </div>
        
        <p class="modal__body__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tristique, felis quis tristique commodo, dui lacus varius justo, id congue eros massa quis ante. Nunc venenatis volutpat leo, in iaculis eros rhoncus eu. Nulla in tortor elit. Maecenas placerat sagittis urna quis placerat. Quisque molestie nisi vitae diam faucibus dapibu. </p>
      </div>

      <footer class="modal__footer">
        <button class="modal__footer__cancel">Cancel</button>
        <button class="modal__footer__continue">Continue</button>
      </footer>

    </div>


    <div class="modal-bonus">
      <div class="modal-bonus__body">        
        <span class="modal-bonus__body__text">Bonus modal!</span>
      </div>

      <footer class="modal-bonus__footer">        
        <button class="modal-bonus__footer__ok">OK</button>
      </footer>
    </div>


    <script src="../js/modal.js"></script>
  </body>

</html>